<h2 class="is-size-3 p-3 mb-4" style="border-left: 10px solid #31537E; border-bottom: 2px solid #31537E;">Select your training provider type</h2>
<div class="columns is-multiline">

    <div class="column is-one-third">
        <a href="/england/early-years/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Early Years</h1>
                        <p>Learners aged 3 to 5, including nurseries, pre-schools, and reception classes.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/england/schools/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Schools and Academies</h1>
                        <p>Learners aged between 5 and 16, covering primary and secondary school.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/england/further-education/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Colleges and Sixth Forms</h1>
                        <p>Learners aged 16+ who may be continuing in full time education, or returning to study in later life.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/england/higher-education/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Universities</h1>
                        <p>Learners working at level 4 and above, including undergraduate and postgraduate degrees.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

</div><!-- end of columns -->