<h2 class="is-size-3 p-3 mb-4" style="border-left: 10px solid #31537E; border-bottom: 2px solid #31537E;">Select your nation</h2>
<div class="columns is-multiline">

    <div class="column is-one-third">
        <a href="/england/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>England 🏴󠁧󠁢󠁥󠁮󠁧󠁿</h1>
                        <p>Information for training providers based in England.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/">
            <div class="card has-background-light">
                <div class="card-content">
                    <div class="content">
                        <h1>Northern Ireland 🇬🇧</h1>
                        <p>Information for training providers based in Northern Ireland.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/">
            <div class="card has-background-light">
                <div class="card-content">
                    <div class="content">
                        <h1>Scotland 🏴󠁧󠁢󠁳󠁣󠁴󠁿</h1>
                        <p>Information for training providers based in Scotland.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/">
            <div class="card has-background-light">
                <div class="card-content">
                    <div class="content">
                        <h1>Wales 🏴󠁧󠁢󠁷󠁬󠁳󠁿</h1>
                        <p>Information for training providers based in Wales.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

</div><!-- end of columns -->