<nav class="navbar is-dark mb-3" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        EFUK
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
  
        <a class="navbar-item" href="/posts/">
          Posts
        </a>

        <a class="navbar-item" href="/funding-assessment/">
            Funding Assessment
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>
  
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/site/about/">
              About
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
          
          <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Third Party Tools
          </a>
  
          <div class="navbar-dropdown">
            <a href="https://textedit.tools/slugify" target="_blank" class="navbar-item">
              Slugify Text
            </a>
            <a href="https://delim.co/" target="_blank" class="navbar-item">
              Comma Separating Tool 
            </a>
            <a href="https://skillspostcodecheck.com/" target="_blank" class="navbar-item">
              Postcode Check Tool 
            </a>
            <a href="https://regex101.com/" target="_blank" class="navbar-item">
              Regex101 
            </a>
          </div><!-- end of dropdown list -->
        </div><!-- end of dropdown item -->

      </div><!-- end of navbar-left -->

      <div class="navbar-end">
        <div class="navbar-item">
          <a href="https://www.buymeacoffee.com/lukeburns" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/arial-yellow.png" alt="Buy Me A Coffee" style="" ></a>
        </div>
      </div><!-- end of navbar-end -->
  
    </div>
  </nav>
