<h2 class="is-size-3 p-3 mb-4" style="border-left: 10px solid #31537E; border-bottom: 2px solid #31537E;">Resources by funding type</h2>
<div class="columns is-multiline">

    <div class="column is-one-third">
        <a href="/funding/14-16-funding/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>14-16 Funding</h1>
                        <p>Funding for learners aged 14-15 when they begin their studies, enrolled at further education training providers.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/funding/young-person-programme-funding/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>16-19 Programme Funding</h1>
                        <p>Funding for those aged 16-18 when they begin their studies, or 19-24 with an EHCP.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/funding/adult-education-budget/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Adult Education Budget</h1>
                        <p>Qualification-based funding for those aged 19 or older.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/funding/apprenticeship-funding/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Apprenticeship Funding</h1>
                        <p>Work-based learning with off-the-job training and development.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/funding/higher-education-funding/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Higher Education</h1>
                        <p>Funding for study at level 4 and above.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/funding/higher-technical-qualification-funding/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Higher Technical Qualifications</h1>
                        <p>Level 4 and 5 qualifications aligned to occupational standards.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/funding/multiply-funding/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Multiply</h1>
                        <p>New funding for additional mathematics qualifications.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/funding/skills-bootcamp-funding/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Skills Bootcamps</h1>
                        <p>Short courses designed to build up sector-specific skills and fast-track learners to an interview with a local employer.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/funding/t-level-funding/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>T Levels</h1>
                        <p>Vocational study programmes with a strong focus on work preparation.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

    <div class="column is-one-third">
        <a href="/funding/traineeship-funding/">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h1>Traineeship Funding</h1>
                        <p>Study programmes with high levels of work experience and preparation, designed to get learners into employment, an apprenticeship, or further study.</p>
                    </div><!-- end of content -->
                </div><!-- end of card-content -->
            </div><!-- end of card -->
        </a>
    </div><!-- end of column -->

</div><!-- end of columns -->