{{ define "main" }}
    <div class="container">
        <div style="padding: 20px">

            <div class="columns">
                <div class="column">
                    <h1 class="is-size-1">Further Education Funding in England</h1>
                </div>
                <div class="column">
                    <div class="notification is-warning">
                        <p>New things are coming...</p>
                        
                        <p>If you'd like to be ahead of the curve, register your details here.</p>
                        
                        <button class="button is-small is-black mt-2" onclick="launchmodal('registermodal')">Register Interest</button>
                    </div>
                </div>
            </div>
            

            

            <!-- site search -->
            {{ partial "site-search.html" . }}
            <!-- end of site search -->

            <!-- nation list -->
            {{ partial "tool-cards.html" . }}
            <!-- end of nation list -->

            <button class="button is-small is-warning mt-2" onclick="launchreport()">Submit Feedback</button>
            
            <hr>
            
            <!-- recent sources -->
            {{ partial "recent-sources.html" . }}
            <!-- end of recent sources -->

            <hr>

            

            <!-- modal form partials -->
            {{ partial "feedback-form.html" . }}
            {{ partial "registerinterest-form.html" . }}
            <!-- end of forms -->

            
            
        </div>
        <!-- end of padding div -->
        
    </div>
    <!-- end of container -->
{{ end }}
