{{ define "main" }}
    <div class="container">
        <div style="padding: 20px">
            <div class="content">
                <h1>Education Funding in England 🏴󠁧󠁢󠁥󠁮󠁧󠁿</h1>

                <!-- training provider list -->
                {{ partial "england-training-provider-types.html" . }}
                <!-- end of training provider list -->
            </div>

            
            
            
        </div>
        <!-- end of padding div -->
        
    </div>
    <!-- end of container -->
{{ end }}
