<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {{ block "title" . }}{{ .Site.Title }}{{ end }}
    </title>
    <link rel="stylesheet" href="/css/bulma.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/img/site.webmanifest">

        <meta name="twitter:card" content="summary_image" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:title" content="{{ .Title }}" />


        {{ if (isset .Params "description" ) }}
        <meta property="og:description" content="{{ .Description }}" />
        <meta property="twitter:description" content="{{ .Description }}" />
        {{ else }}
        <meta property="og:description" content="Education Funding UK provides links to online resources for education and training providers in the UK." />
        <meta property="twitter:description" content="Education Funding UK provides links to online resources for education and training providers in the UK." />
        {{ end }}
        
        <script src="https://kit.fontawesome.com/1452136d25.js" crossorigin="anonymous"></script>

    <script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js"
    id="pirschjs"
    data-code="myjGlUjcMVgwoSq0QvTJr7eb0Fjb0dWf"></script>
  </head>
  <body>
    {{ partial "navbar.html" . }}
    {{ block "main" . }}
    {{ end }}

    {{ block "footer" . }}
    {{ end }}
    <script src="/js/main.js"></script>
  </body>
</html>