{{ define "main" }}
    <div class="container">
        <div style="padding: 20px">

            <div class="notification has-background-info has-text-white">
                <p>Welcome to the new-look Education Funding UK! 👋</p>
                <p>We'd love to get your thoughts on the new layout and tools - if you have a moment please share some feedback...</p>
                <button class="button is-small is-warning mt-2" onclick="launchreport()">Feedback</button>
            </div>

            <!-- site search -->
            {{ partial "site-search.html" . }}
            <!-- end of site search -->

            <!-- tool cards -->
            {{ partial "tool-cards.html" . }}
            <!-- end of tool card -->
            
            <hr>
            
            <!-- recent sources -->
            {{ partial "recent-sources.html" . }}
            <!-- end of recent sources -->

            <hr>

            <!-- resources by funding type -->
            {{ partial "resources-by-funding-type.html" . }}
            <!-- end of resources by funding type -->

            <!-- feedback form -->
            {{ partial "feedback-form.html" . }}
            <!-- end of feedback form -->
            
        </div>
        <!-- end of padding div -->
        
    </div>
    <!-- end of container -->
{{ end }}
