{{ define "main" }}
    <div class="container">
        <div style="padding: 20px">

            <div class="notification">
                <p>New things are coming...</p>
                
                <p>If you'd like to be ahead of the curve, register your details here.</p>
                
                <button class="button is-small is-warning mt-2" onclick="launchmodal('registermodal')">Register Interest</button>
            </div>

            <!-- site search -->
            {{ partial "site-search.html" . }}
            <!-- end of site search -->

            <!-- tool cards -->
            {{ partial "tool-cards.html" . }}
            <!-- end of tool card -->

            <button class="button is-small is-warning mt-2" onclick="launchreport()">Submit Feedback</button>
            
            <hr>
            
            <!-- recent sources -->
            {{ partial "recent-sources.html" . }}
            <!-- end of recent sources -->

            <hr>

            <!-- resources by funding type -->
            {{ partial "resources-by-funding-type.html" . }}
            <!-- end of resources by funding type -->

            <!-- modal form partials -->
            {{ partial "feedback-form.html" . }}
            {{ partial "registerinterest-form.html" . }}
            <!-- end of forms -->

            
            
        </div>
        <!-- end of padding div -->
        
    </div>
    <!-- end of container -->
{{ end }}
